# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
*.xcbkptlist

# SwiftPM
.swiftpm/
.build/

# Derived data
DerivedData/

# CocoaPods (only if you don’t commit Pods)
Pods/